# Virtual environment
.venv/

# Environment variables file
.env

# Distribution / Packaging
*.egg-info/
.eggs/
dist/
build/

# Jupyter stuff
.ipynb_checkpoints/

# Coverage
.coverage
.coverage.*
htmlcov/
coverage.xml

# Pytest
.pytest_cache/

# Mutation testing - mutmut
mutants/

# Python cache
__pycache__/
*.pyc
