# Virtual environment
.venv/

# Environment variables file
.env

# Jupyter stuff
.ipynb_checkpoints/

# Coverage
.coverage
.coverage.*
htmlcov/
coverage.xml

# Pytest
.pytest_cache/

# Mutattion testing - mutmut
mutants/

# Python cache
__pycache__/
*.pyc
